
.output-image{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        object-fit: contain;
        background: url('../../../../assets/images/color-fillup-gif.gif') no-repeat;
    }
}
.back-bttn{
    z-index: 1;
position: fixed;
top: .4rem;
left: .56rem;
width: fit-content;
}


ion-back-button{
    width: fit-content;
    margin: 0;
    --icon-font-size : 1.4rem;
    --background :transparent;
    --background-hover : var(--ion-color-step-200);
    --border-radius : 11px;
    $padding : .3rem;
    --padding-start: $padding;
    --padding-top: $padding;
    --padding-end: $padding;
    --padding-bottom: $padding;
}