.top{
    width: 80vw;
    margin: 18vh auto;
    max-width: 700px;
    .deepai-attribution{
        span{
            text-decoration: underline;
        }
        img{
            width: 1rem;
            margin-right: .4rem;
        }
        a{
            
            color: var(--ion-text-color);
        }
        p{
            font-weight: 500;
        }
    }
    .message{
        font-size: 2rem;
        font-weight: 500;
    }
}
.blurred-bg{
height: 40vh;
    width: 80vw;
    display: fixed;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
}
.action-bar{
    z-index: 1;
    display: fixed;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 8vh auto;
    i{
        font-size: 1.4rem;
    }

}